.home .jumbotron {
  background-image: url('../../resources/hero.jpg');
  background-size: cover;
  background-position: center center;
  padding: 8rem 2rem;
  border-radius: 0px;
}

.home .jumbotron .pill-btn {
  text-decoration: none;
  color: #454545;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  line-height: 32px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #dddddd;
  border-radius: 23px;
}

.home .jumbotron .pill-btn:hover {
  color: #dddddd;
  background-color: #454545;
  transition: all 300ms linear !important;
}

@media (min-width: 800px) {
  .home .jumbotron {
    padding: 14rem 2rem;
  }
}

@media (min-width: 1000px) {
  .home .jumbotron {
    padding: 18rem 2rem;
  }
}
