.header {
  background-color: #766ca4;
  color: #454545;
  height: 50px;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  flex-direction: row;
}

.header-right {
  margin-left: auto;
}
