.carousel {
  position: relative;
  height: 300px;
  background-color: #766ca4;
  opacity: 0.95;
}

.carousel-action {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-60px);
  cursor: pointer;
}

.carousel-action .prev,
.carousel-action .next {
  width: 40px;
  height: 40px;
  margin: 10px 10px 30px 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 35px;
  transition: all 400ms linear 0s;
}

.carousel-action .prev:hover,
.carousel-action .next:hover {
  background-color: #62c3e7;
  border: 2px solid #62c3e7;
}

.carousel-item {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.carousel-item.visible {
  opacity: 1;
  transition-duration: 0.2s;
}

.carousel-item .testimonial {
  max-width: 600px;
  font-size: 22px;
  color: #ffffff;
}

.carousel-item .testimonial .author {
  margin-top: 10px;
  font-style: italic;
}

.carousel-item svg {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .carousel {
    height: 500px;
  }

  .carousel-item {
    padding: 40px;
  }

  .carousel-item svg {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .carousel-item .testimonial {
    margin-bottom: 40px;
  }

  .carousel-action .prev,
  .carousel-action .next {
    margin-bottom: 60px;
  }
}
