footer .container {
  padding: 30px 50px;
}

footer .row .col,
footer .row .col-sm {
  text-align: center;
}

footer .row .col-sm p {
  margin-bottom: 0px;
}

footer .row a {
  color: #454545;
  text-decoration: none;
}

footer .row a:hover {
  color: #000000;
  text-decoration: underline;
}

footer .col-header {
  font-weight: 600;
}

footer .social-media-col a {
  margin-left: 10px;
  line-height: 24px;
}

@media (max-width: 576px) {
  footer .row .col-sm {
    margin-bottom: 15px;
  }
}
